* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
}
a {
    text-decoration: none;
    transition: $transition;
}
ul {
    list-style: none;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
h2 {
    font-size: 41px;
    font-weight: 800;
    line-height: 50px;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    @media(max-width: 767px) {
        width: 95%;
    }
}
.py {
    padding: 100px 0;
}
.text-center {
    text-align: center
}
.text-white {
    color: $white
}
.btn {
    @include btn;
}
.btn-white {
    &:hover {
        background: $accents;
        color: $white;
    }
}
.btn-blue {
    background: $secondary;
    color: $white;
    &:hover {
        background: $accents;
        color: $white;
    }
}
.hamburger {
    color: $white;
    font-size: 25px;
    display: none;
    &:hover {
        color: $accents;
    }
    @media(max-width: 767px) {
        display: block;
    }
}