@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$primary: #051B2A;
$secondary: #0B3C5C;
$accents: #AA191E;
$white: white;
$fontFamily: "Montserrat", sans-serif;
$fontSize: 18px; 
$transition: .3s ease-in-out;