@import 'vars';
@import 'mixins';
@import 'globals';

// .topBar 
.topBar {
	background: $primary;
	padding: 18px 0;
	color: $white;

	@media(max-width: 767px) {
		display: none;
	}

	.container {
		@include flex;

		.contact {
			color: $white;

			i {
				margin-right: 15px;
				color: $accents;
			}

			&:hover {
				color: $accents;
			}
		}

		.icons {
			i {
				margin-right: 15px;
				color: $accents;
				transition: $transition;

				&:hover {
					color: $white;
				}
			}
		}

		.address {
			i {
				color: $accents;
				margin-right: 15px;
				;
			}
		}
	}
}

// main header
.mainHeader {
	background: linear-gradient(rgba($black, .3), rgba($black, .3)), url(img/hero.jpg);
	background-position: center;
	background-size: cover;
	padding-bottom: 300px;

	@media(max-width: 767px) {
		padding-bottom: 150px;
	}

	nav {
		padding: 25px 0 200px 0;
		@include flex;

		@media(max-width: 767px) {
			padding: 25px 0 100px 0;
		}

		.logo {
			img {
				width: 130px;
				height: auto;

				@media(max-width: 767px) {
					width: 90px;
				}
			}
		}

		ul {
			@include flex;

			.nav-link {
				color: $white;
				margin-left: 50px;

				&:hover {
					color: $accents;
				}

				@media(max-width: 767px) {
					display: none;
				}
			}
		}
	}

	div {
		h1 {
			font-size: 72px;
			font-weight: 400;
		}

		p {
			padding: 60px 0;

			@media(max-width: 767px) {
				padding: 30px 0;
			}
		}
	}
}

// intro
.intro {
	background: $secondary;
	padding: 40px 100px;
	box-shadow: 0px 3px 6px lightgray;
	margin-top: -50px;
	border-radius: 10px;
	@include flex($justify: space-around);

	div {
		flex: 1;
		@media(max-width: 767px) {
			flex: 0 0 100%;
		}
		img {
			width: auto;
			height: 90px;
			margin-bottom: 30px;
		}

		p {
			color: $white;

			span {
				color: $accents;
			}
		}
	}
}

// o nama
.onama {
	@include flex;
	@media(max-width: 767px) {
		flex-direction: column;
	}
	div {
		flex: 0 0 45%;

		p {
			padding: 20px 0 50px 0;
		}

		h2 {
			color: $secondary;
			@media(max-width: 767px) {
				margin-top: 30px;
			}
		}
	}
}

// treneri
.treneri {
	h2 {
		color: $secondary;
		margin-bottom: 60px;
	}
	div {
		@include flex;
		article {
			flex: 0 0 29%;
			box-shadow: 0px 3px 6px lightgray;
			border-radius: 10px;
			img {
				border-radius: 10px 10px 0 0;
			}
			.text {
				padding: 25px;
				h3 {
					font-size: 21px;
					color: $secondary;
					text-align: center;
					margin: 0 auto 37px auto;
				}
			}
		}
	}
}