@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

h2 {
  font-size: 41px;
  font-weight: 800;
  line-height: 50px;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
}
@media (max-width: 767px) {
  .container {
    width: 95%;
  }
}

.py {
  padding: 100px 0;
}

.pt {
  padding-top: 100px;
}

.pb {
  padding-bottom: 100px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.btn {
  display: inline-block;
  padding: 14px 54px;
  background: white;
  border-radius: 10px;
  color: #051B2A;
}

.btn-white:hover {
  background: #AA191E;
  color: white;
}

.btn-blue {
  background: #0B3C5C;
  color: white;
}
.btn-blue:hover {
  background: #AA191E;
  color: white;
}

.btn-red {
  background: #AA191E;
  color: white;
}
.btn-red:hover {
  background: #0B3C5C;
  color: white;
}

.hamburger {
  color: white;
  font-size: 25px;
  display: none;
}
.hamburger:hover {
  color: #AA191E;
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
}

.topBar {
  background: #051B2A;
  padding: 18px 0;
  color: white;
}
@media (max-width: 767px) {
  .topBar {
    display: none;
  }
}
.topBar .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.topBar .container .contact {
  color: white;
}
.topBar .container .contact i {
  margin-right: 15px;
  color: #AA191E;
}
.topBar .container .contact:hover {
  color: #AA191E;
}
.topBar .container .icons i {
  margin-right: 15px;
  color: #AA191E;
  transition: 0.3s ease-in-out;
}
.topBar .container .icons i:hover {
  color: white;
}
.topBar .container .address i {
  color: #AA191E;
  margin-right: 15px;
}

.mainHeader {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/hero.jpg);
  background-position: center;
  background-size: cover;
  padding-bottom: 300px;
}
@media (max-width: 767px) {
  .mainHeader {
    padding-bottom: 150px;
  }
}
.mainHeader nav {
  padding: 25px 0 200px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .mainHeader nav {
    padding: 25px 0 100px 0;
  }
}
.mainHeader nav .logo img {
  width: 130px;
  height: auto;
}
@media (max-width: 767px) {
  .mainHeader nav .logo img {
    width: 90px;
  }
}
.mainHeader nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mainHeader nav ul .nav-link {
  color: white;
  margin-left: 50px;
}
.mainHeader nav ul .nav-link:hover {
  color: #AA191E;
}
@media (max-width: 767px) {
  .mainHeader nav ul .nav-link {
    display: none;
  }
}
.mainHeader div h1 {
  font-size: 72px;
  font-weight: 400;
}
.mainHeader div p {
  padding: 60px 0;
}
@media (max-width: 767px) {
  .mainHeader div p {
    padding: 30px 0;
  }
}

.intro {
  background: #0B3C5C;
  padding: 40px 100px;
  box-shadow: 0px 3px 6px lightgray;
  margin-top: -50px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.intro div {
  flex: 1;
}
@media (max-width: 767px) {
  .intro div {
    flex: 0 0 100%;
  }
}
.intro div img {
  width: auto;
  height: 90px;
  margin-bottom: 30px;
}
.intro div p {
  color: white;
}
.intro div p span {
  color: #AA191E;
}

.onama {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .onama {
    flex-direction: column;
  }
}
.onama div {
  flex: 0 0 45%;
}
.onama div p {
  padding: 20px 0 50px 0;
}
.onama div h2 {
  color: #0B3C5C;
}
@media (max-width: 767px) {
  .onama div h2 {
    margin-top: 30px;
  }
}

.treneri h2 {
  color: #0B3C5C;
  margin-bottom: 60px;
}
.treneri div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .treneri div {
    flex-direction: column;
  }
}
.treneri div article {
  flex: 0 0 29%;
  box-shadow: 0px 3px 6px lightgray;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .treneri div article:nth-child(2) {
    margin: 30px 0;
  }
}
.treneri div article img {
  border-radius: 10px 10px 0 0;
}
.treneri div article .text {
  padding: 25px;
}
.treneri div article .text h3 {
  font-size: 21px;
  color: #0B3C5C;
  text-align: center;
  margin: 0 auto 37px auto;
}

.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.cta p {
  padding: 60px 0;
}/*# sourceMappingURL=style.css.map */